<div *ngIf='user'>
  <h1>{{ user.name }}</h1>
  <h3>{{ user.score }} Points</h3>

  <div>
    <ul [@listStagger]="rightDOA">
      <li class="label">
        <h2>Who ends up on the Iron Throne? (+5)</h2>  
      </li>      
      <li>
        <p class="{{throne.style}}">Prediction - {{ throne.answer }}</p>
        <p class="{{throne.style}}">{{ throne.final }} currently resides on the iron throne</p>
      </li>
    </ul>
  </div>

  <div *ngIf='questions.length > 0'>
      <ul [@listStagger]="questions">
        <li class="label">
            <h2>Bonus Questions (+1)</h2>
        </li>
        <li *ngFor="let question of questions">
          <p class="{{question.style}}">{{ question.answer }}</p>
          <p class="{{question.style}}">Answer - {{ question.final }}</p>
        </li>
      </ul> 
  </div>

  <div *ngIf='rightDOA.length > 0'>
    <ul [@listStagger]="rightDOA">
      <li class="label">
        <h2>Correctly Predicted living or dead (+2)</h2>  
      </li>      
      <li *ngFor="let character of rightDOA">
        <p class="correct">{{ character }}</p>
      </li>
    </ul>
  </div>
  
  <div *ngIf='wrongDOA.length > 0'>
    <ul [@listStagger]="wrongDOA">
      <li class="label">
        <h2>Incorrectly Predicted living or dead</h2>
      </li>
      <li *ngFor="let character of wrongDOA">
        <p class="incorrect">{{ character }}</p>
      </li>
    </ul> 
  </div>

  <div *ngIf='rightWW.length > 0'>
    <ul [@listStagger]="rightWW">
      <li class="label">
          <h2>Correctly Predicted White Walker (+1)</h2>
      </li>
      <li *ngFor="let character of rightWW">
        <p class="correct">{{ character }}</p>
      </li>
    </ul> 
  </div>

  <div *ngIf='wrongWW.length > 0'>
    <ul [@listStagger]="wrongWW">
      <li class="label">
          <h2>Incorrectly Predicted White Walker (-1)</h2>
      </li>
      <li *ngFor="let character of wrongWW">
        <p class="incorrect">{{ character }}</p>
      </li>
    </ul> 
  </div>


